@keyframes textDec {
  0% {
    color: rgb(149, 222, 222);
  }

  50% {
    color: rgb(29, 160, 160);
  }

  100% {
    color: rgb(149, 222, 222);
  }
}

.header {
  color: rgb(31, 146, 146);
  text-align: center;
  text-shadow: 3px 2px 1px rgb(27, 69, 69);
}

.header ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.header li {
  display: flex;
}

.nav a {
  text-decoration: none;
  padding-right: 14px;
  font-size: 17px;
  color: aliceblue;
  transform: color 1s ease;
  font-weight: bold;
  transform: text-decoration 3s ease;
}


.nav a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  animation: textDec 1s ease-in-out infinite;
}