@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url('https://pixabay.com/get/g6ab0d94ddc8a95605ab2e0f499adf43db4bf7ea52b8049eed913993cd78a1b4adf3429933f20975d6262a5b4aa32045cdbd3b28519471e47b3bffa39c547b462_1280.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}


.home{
    
    width: 320px;
    height: 450px;
    padding: 20px;
    border-radius: 20px;
    overflow-y: auto;
    color: white;
    font-weight: bold;
    background: rgba(224, 220, 220, 0.2); 
    transition: background-color 0.3s ease; 
    position: relative;
}

.home:hover {
  background: rgba(205, 199, 199, 0.4); 
}